@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --app-color: #5f939a;
    --text-color: #eee;
    --av-seat-color: #eeeded;
    --oc-seat-color: #5c6e91;
    --sc-seat-color: #edc988;
}

body {
    height: 100vh;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.page-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.app-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--app-color);
}

.app-title {
    color: var(--text-color);
}

.movie-container {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.reset {
    margin: 0 10px;
    padding: 5px 15px 5px 15px;
    font-family: inherit;
    border-radius: 5px;
    font-size: 14px;
    border: 0;
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.3);
    color: var(--text-color);
}

.movie-container label {
    color: var(--text-color);
    font-size: 15px;
}

.movie-container select {
    background-color: white;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-family: inherit;
}

.seat {
    background-color: var(--av-seat-color);
    height: 15px;
    width: 15px;
    margin: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seat.selected {
    background-color: var(--sc-seat-color);
}

.seat.occupied {
    background-color: var(--oc-seat-color);
}

.seat:nth-of-type(2) {
    margin-right: 20px;
}

.seat:nth-last-of-type(2) {
    margin-left: 20px;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.25);
}

.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    background-color: rgba(0,0,0,0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--text-color);
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase li small {
    margin-left: 3px;
}

.row {
    display: flex;
}

.screen {
    background-color: white;
    height: 70px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 2555, 255, 0.7);
}

.container {
    perspective: 1000px;
    margin-bottom: 50px;
}

p.text {
    margin: 5px 0;
    color: var(--text-color);
}

p.text span {
    color: #374045;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #fff;
}

.desc-container {
    position: relative;
    width: 50%;
    display: none;
}

.movie-selected {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#movie-1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('img/The-Batman-3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: 0.9;
    filter: grayscale(25%);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text-color);
}

.content p {
    padding: 15px;
    margin: 50px;
    background-color: rgb(0, 0, 0, 0.4);
}

.content h2 {
    background-color: rgb(0, 0, 0, 0.4);
    margin-top: 50px;
}

#movie-2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('img/top-gun-2-3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: 0.75;
    filter: grayscale(25%);
}

#movie-3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('img/mission-impossible-7.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: 0.9;
    filter: grayscale(25%);
}

#movie-4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('img/No-Time-To-Die-3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: 0.75;
    filter: grayscale(25%);
}

#movie-5::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('img/star-wars-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: 0.9;
    filter: grayscale(25%);
}

.btn-container {
    position: relative;
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 35px;
}

.redirect-link {
    text-decoration: none;
    color: var(--text-color);
    font-family: inherit;
    font-size: 15px;
    background-color: rgb(0, 0, 0, 0.3);
    padding: 10px;
}

.rewind, .forward {
    width: 10px;
    margin: 0 10px;
    filter: invert(1);
}


/*--------------responsive media queries-------------*/

@media (max-width: 600px) {
    .page-container {
        display: flex;
        flex-direction: column;
    }
    .app-container {
        width: 100%;
        padding: 20px;
    }
    .app-title {
        padding-top: 100px;
    }
    label {
        margin-bottom: 10px;
    }

    .desc-container {
        width: 100%;
    }
    .content iframe {
        width: 95%;
    }
    #btm-links {
        margin: 50px;
        padding-bottom: 50px;
    }
    .movie-container {
        margin: 0 15px;
        display: flex;
        flex-direction: column;
    }
    #movie {
        margin-bottom: 10px;
    }
    .selection-container {
        margin: 0 15px;
    }
    .redirect-link {
        font-size: 11px;
    }
    p.text {
     margin: 0;
    }
    .btn-container {
        margin-top: 15px;
    }
}