* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0;
    padding: 20px;
    background: linear-gradient(to top,#69778a 50%,#a7b38f 50%);
}

.app-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    float: left;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2 {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

p {
    text-align: center;
    color: #ddd;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.btn {
    color: #313131;
    background-color: lightgray;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 10px;
    border: 0;
    margin-bottom: 20px;
}

.currency {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.currency select {
    padding: 10px 20px 10px 10px;
    border: 1px solid #fff;
    font-size: 16px;
    background: #313131;
    color: #fff;
}

.currency input {
    border: 0;
    background: transparent;
    font-size: 24px;
    text-align: right;
    color: #fff;
}

.swap-rate-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rate {
    color: #fff;
    font-size: 16px;
    padding: 0 10px;
}

select:focus, input:focus, button:focus {
    outline: 0;
}

.app2-title1, .app2-desc, .app2-currency-one select {
    color: #fff;
}

.app2-currency-one select {
    background: rgba(0, 0, 0, 0.7);
}

.app2-currency-one {
    color: #fff;
}

table {
    width: 50%;
    margin: 5px;
    padding: 5px;
    float: right;
    border: 1px solid #fff;
    color: #fff;
}

.app2-currency-one {
   width: 100%;
   margin-left: 225px;
}


.app-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50%;
    float: right;
    margin-top: -86px;
}

/* media queries */
@media (max-width:600px) {
    .app-container1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
        float: left;
    }
}